{% extends 'main/layout.html' %}

{% block title %} Головна сторінка {% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">SMKTEND</h1>
        <p class="lead font-weight-normal">
            Наш проект создан для поддержки участников публичных закупок. Его цель - максимально упростить подготовку предложений и избежать возможных ошибок, которые могут возникнуть из-за недоразумений. Мы предоставляем возможность проверить условия тендерной документации, включая поиск всех необходимых документов для успешного участия в закупке, а также помогаем составить конкурентоспособное тендерное предложение. Наша цель - сделать процесс участия в тендерах более прозрачным и дружелюбным для участников.
        </p>        
		<a class="btn btn-outline-secondary btn-styled" href="upload">Спробувати перевірку</a>

    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>



<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5" style="margin: 0 auto; width: fit-content;">Почему с нами? </h2>
            <p class="lead text-light">
                Наш ресурс, SMKTEND, предоставляет уникальные преимущества для участников публичных закупок, делая процесс подготовки и участия в тендерах более эффективным и прозрачным.
            </p>
            <p>
                <strong>1. Максимальная прозрачность требований:</strong> Мы анализируем тендерную документацию от заказчиков, выделяя все важные требования и условия. Это позволяет вам четко понимать, что необходимо для успешной участии в тендере.
            </p>
            <p>
                <strong>2. Экономия времени и ресурсов:</strong> Наш ресурс значительно сокращает время, необходимое для поиска и анализа тендерных требований. Вы можете быстро найти все необходимые документы и сконцентрироваться на подготовке конкурентоспособной заявки.
            </p>
            <p>
                <strong>3. Экспертная поддержка:</strong> Команда экспертов с многолетним опытом в сфере публичных закупок всегда готова предоставить вам профессиональные рекомендации по подготовке тендерных предложений. Мы ценим ваше время и коммерческую информацию, обеспечивая конфиденциальность и качественную поддержку.
            </p>
            <p>
                <strong>4. Повышенные шансы на успех:</strong> За счет детального анализа требований и рекомендаций нашего ресурса, ваши тендерные предложения становятся более точными и соответствующими ожиданиям заказчика, что повышает ваши шансы на успешное заключение контракта.
            </p>
            <p>
                Присоединяйтесь к SMKTEND и участвуйте в тендерах с уверенностью!
            </p>
        </div>
    </div>
</div>





{% endblock %}
